-
    let menu = [
        {
            name: "Home",
            url: "/"
        },
        {
            name: "Services",
            url: "#services"
        },
        {
            name: "About",
            url: "#about"
        },
        {
            name: "Works",
            url: "#works"
        },
        {
            name: "Blog",
            url: "#blog"
        },
        {
            name: "Clients",
            url: "#clients"
        },
        {
            name: "Contact",
            url: "#"
        }
    ]

-
    let figures = {
        clean_typography: {
            src: "img/clean_typography_icon",
            alt: "clean_typography",
            card_name: "Clean Typography",
            //- price: "0",
            description: [
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum."
            ]
        },
        rock_solid_code: {
            src: "img/rock_solid_code_icon",
            alt: "rock_solid_code",
            card_name: "Rock Solid Code",
            //- price: "29",
            description: [
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum."
            ]
        },
        expert_support: {
            src: "img/expert_support_icon",
            alt: "expert_support",
            card_name: "Expert Support",
            description: [
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum."
            ]
        }
    }

-
    let slider = {
        head_of_ideas: {
            src: "img/md._khalil_uddin",
            alt: "md._khalil_uddin",
            employee_name: "Md. Khalil Uddin",
            job_title: "Head of Ideas"
        },
        lead_wordPress_developer: {
            src: "img/rubel_miah",
            alt: "rubel_miah",
            employee_name: "Rubel Miah",
            job_title: "Lead WordPress Developer"
        },
        sr_web_developer: {
            src: "img/shamim_mia",
            alt: "shamim_mia",
            employee_name: "Shamim Mia",
            job_title: "Sr. Web Developer"
        },
        frontEnd_developer: {
            src: "img/john_doe",
            alt: "john_doe",
            employee_name: "John Doe",
            job_title: "Front-end Developer"
        }
    }

-
    let filter_menu = [
        {
            name: "All",
            url: "#"
        },
        {
            name: "Branding",
            url: "#"
        },
        {
            name: "Design",
            url: "#"
        },
        {
            name: "Development",
            url: "#"
        },
        {
            name: "Strategy",
            url: "#"
        }
    ]

-
    let work_cards = {
        latest_work_img1: {
            src: "img/latest_work_img1",
            alt: "latest_work_img1"
        },
        latest_work_img2: {
            src: "img/latest_work_img2",
            alt: "latest_work_img2"
        },
        latest_work_img3: {
            src: "img/latest_work_img3",
            alt: "latest_work_img3"
        },
        latest_work_img4: {
            src: "img/latest_work_img4",
            alt: "latest_work_img4"
        },
        latest_work_img5: {
            src: "img/latest_work_img5",
            alt: "latest_work_img5"
        },
        latest_work_img6: {
            src: "img/latest_work_img6",
            alt: "latest_work_img6"
        },
        latest_work_img7: {
            src: "img/latest_work_img7",
            alt: "latest_work_img7"
        },
        latest_work_img8: {
            src: "img/latest_work_img8",
            alt: "latest_work_img8"
        },
        latest_work_img9: {
            src: "img/latest_work_img9",
            alt: "latest_work_img9"
        }
    }

-
    let posts = {
        needs_funded: {
            src: "img/needs_funded",
            alt: "needs_funded",
            day_month: "18",
            month: "OCT",
            post_name: "Startup ideas needs to be funded",
            first_name: "Khalil",
            last_name: "Uddin",
            chapter: "Development",
            post: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam"
        },
        designing_elements: {
            src: "img/latest_work_img8",
            alt: "needs_funded",
            day_month: "18",
            month: "OCT",
            post_name: "User Interface Designing Elements",
            first_name: "Khalil",
            last_name: "Uddin",
            chapter: "Development",
            post: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor idunt ut labore et dolore aliquyam"
        }
    }

-
    let clients_logos = {
        deorham: {
            src: "img/deorham",
            alt: "deorham"
        },
        ratings: {
            src: "img/ratings",
            alt: "ratings"
        },
        malik_media: {
            src: "img/malik_media",
            alt: "malik_media"
        },
        bcause: {
            src: "img/bcause",
            alt: "bcause"
        },
        womgify: {
            src: "img/womgify",
            alt: "womgify"
        }
    }

-
    let quote_slider = {
        some_quote: {
            quote: "Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”",
            author: "John Doe, Google Inc."
        }
    }

mixin menu (items)
    for item in items
        li
            a(class=item.class, href=item.url) #{item.name}

mixin figures (item)
    figure
        figcaption
            .substrate
                picture
                    source(srcset=item.src + ".webp", type="img/webp")
                    img(src=item.src + ".png", alt=item.alt)
            b #{item.card_name}
            p.description #{item.description}

mixin slider (item)
    figure
        figcaption
            picture
                source(srcset=item.src + ".webp", type="img/webp")
                img(src=item.src + ".jpg", alt=item.alt)
            b #{item.employee_name}
            p #{item.job_title}

mixin filter_menu (items)
    for item in items
        li
            a(href=item.url) #{item.name}

mixin work_cards (item)
    figure 
        figcaption 
            //- a(href="#") 
            div
                strong Hair Dresser
                p Branding
                a(href="#") View
            picture
                source(srcset=item.src + ".webp", type="img/webp")
                img(src=item.src + ".jpg", alt=item.alt)

mixin posts (item)
    .post
        figure
            figcaption 
                picture 
                    source(srcset=item.src + ".webp", type="img/webp")
                    img(src=item.src + ".jpg", alt=item.alt)
        div
            .post_header 
                .blog_date
                    p #{item.day_month}
                    p.month #{item.month}
                div 
                    a(href="#") #{item.post_name}
                    p.author By 
                        span #{item.first_name} 
                        |#{item.last_name} in 
                        span #{item.chapter}
            p.post_text #{item.post}
            a(href="#") Read more

mixin clients_logos (item)
    picture
        source(srcset=item.src + ".webp", type="img/webp")
        img(src=item.src + ".png", alt=item.alt)

mixin quote_slider (item)
    blockquote #{item.quote}
    p #{item.author}